@import 'scss/constans';

.country-selector {
  color: $interface-color-white;
  cursor: pointer;

  &__title {
    display: flex;
    align-items: center;
    padding-left: $indent-s;
  }

  &__popup {
    $local-popup-width: 100px;
    $local-popup-max-height: 200px;

    display: none;
    position: absolute;
    max-height: $local-popup-max-height;
    overflow-y: scroll;
    background: $interface-color-blue;
    width: $local-popup-width;
    padding: $indent-xxxxs 0;
    border-radius: $indent-s;

    &_opened {
      display: block;
    }
  }
}
