@import 'scss/constans';

.country-selector {
  color: $interface-color-white;
  cursor: pointer;

  &__title {
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  &__popup {
    display: none;
    position: absolute;
    max-height: 200px;
    overflow-y: scroll;
    background: $interface-color-blue;
    width: 100px;
    padding: 2px 0 2px 0;
    border-radius: 10px;

    &_opened {
      display: block;
    }
  }
}
