@import 'scss/constans';

$local-content-width: 500px;
$local-content-height: 200px;

.content {
  width: $local-content-width;
  height: $local-content-height;
  margin: 100px auto $indent-xss;
  display: flex;
  align-items: center;
  padding: 0 $indent-xss;
  background: $interface-color-green;

  &__error-message {
    text-align: center;
    color: $interface-color-blue;
  }
}

.dropdown {
  margin-right: $indent-xss;

  &_margin {
    margin: auto;
  }
}
