$interface-color-blue: #063647;
$interface-color-green: #458985;
$interface-color-white: #dfdfc9;
$interface-color-orange: #dba67b;
$interface-color-rad: #a55c55;

$color-white: #ffffff;
$color-black: #000000;
