$interface-color-blue: #063647;
$interface-color-blue_hover: #042630;
$interface-color-green: #458985;
$interface-color-white: #dfdfc9;
$interface-color-orange: #dba67b;
$interface-color-red: #894549;

$color-white: #ffffff;
$color-black: #000000;

$indent-xxxxxs: 1px;
$indent-xxxxs: 2px;
$indent-xxxs: 4px;
$indent-xxs: 8px;
$indent-xss: 10px;
$indent-xs: 12px;
$indent-ss: 16px;
$indent-s: 20px;
$indent-m: 24px;
$indent-mll: 28px;
$indent-ml: 32px;
$indent-xl: 40px;
$indent-l: 48px;
